<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{ISO8601} %-5p %t [%c{1}] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.williamhill" additivity="false" level="DEBUG">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="WARN">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
